# values-deps.yaml (fixed)

mysql:
  image:
    pullPolicy: IfNotPresent

opensearch:
  imagePullPolicy: IfNotPresent

airflow:
  images:
    airflow:
      pullPolicy: IfNotPresent

  airflow:
    extraVolumeMounts:
      - mountPath: /airflow-logs
        name: nfs-airflow-logs
      - mountPath: /airflow-dags/dags
        name: nfs-airflow-dags
    extraVolumes:
      - name: nfs-airflow-logs
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-logs
      - name: nfs-airflow-dags
        persistentVolumeClaim:
          claimName: openmetadata-dependencies-dags
    config:
      AIRFLOW__OPENMETADATA_AIRFLOW_APIS__DAG_GENERATED_CONFIGS: "/airflow-dags/dags"

  dags:
    persistence:
      enabled: false

  logs:
    persistence:
      enabled: false
